<h1>Falta los estilos xd</h1>

<div>
    <app-input-job (jobToDo)="addJob($event)" ></app-input-job>
</div>


<div *ngIf="allJobList.length > 0">
    <div *ngFor="let job of Jobs" >
        <app-job [job]="job" (delete)="delete($event) " ></app-job>
    </div>
</div>

<!-- <span> {{leftItems}}  </span> -->
<button (click)="changeToShow('all')" >all</button>
<button (click)="changeToShow('doned')" >doned</button>
<button (click)="changeToShow('toDo')" >toDo</button>
<button (click)="clear()"> Clear all completed</button>

