<div class="">

    <div class="mb-8">
        <h1 class="text-white text-4xl font-bold tracking-title">TODO</h1>
    </div>

    <div class="text-color-dark">
        <div class="mb-3">
            <app-input-job (jobToDo)="addJob($event)" ></app-input-job>
        </div>
        
        <!-- Contenedor de la lista  -->
        <div class="shadow-3xl mb-6">
            <div *ngIf="auxListJob.length > 0; else loggedOut " 
                cdkDropList (cdkDropListDropped)="drop($event)" 
                class="listCont bg-item-dark" >
                <div cdkDrag *ngFor="let job of auxListJob; index as i" 
                     class="itemDrag bg-item-dark p-4 border-[#393a4c] border-b rounded-sm text-color-dark" >
                    <app-job  [job]="job" (delete)="delete($event ? i: -1) " ></app-job>
                </div>
            </div>
            <ng-template #loggedOut>
                <div class="bg-item-dark p-4 border-[#393a4c] border-b rounded-sm text-center font-semibold">
                    There is nothing to do
                </div>
            </ng-template>
            
            <div class="flex justify-between py-4 px-5 bg-item-dark text-color-dark  rounded-b-sm">
                <span> {{itemsLeft}} </span>
                <button class="hover:text-[#777a92] transition-colors" (click)="clear()"> Clear Completed</button>
            </div>
        </div>
        
        <div class="flex justify-center p-3 bg-item-dark text-color-dark rounded-md shadow-xl">
            <button *ngFor="let btn of filterBtns; index as i"
                    (click)="changeToShow(btn)"
                    class="mr-4 transition-colors"
                    [ngClass]="selection == btn ? 'text-active': ' hover:text-[#777a92]' " > 
                    {{btn | titlecase}} 
            </button>
        </div>

    </div>

    <div class="text-center mt-10 mb-5">
        <span class="text-[#777a92] font-semibold">Drag and Drop to reorder list</span>
    </div>

</div>
<footer>
    <p class="text-center mt-16 text-white font-bold">Done by <a class="hover:text-gray-400 transition-colors" href="https://github.com/angeldev07">Angel Garcia</a></p>
</footer>

