<h1>Falta los estilos xd</h1>

<div>
    <app-input-job (jobToDo)="addJob($event)" ></app-input-job>
</div>


<div *ngIf="allJobList.length > 0">
    <div [ngSwitch]="selection" class="container">
        <div *ngSwitchCase="'all'">
            <app-job *ngFor="let job of allJobList; index as i" [job]="job" (jobDone)="update($event)"></app-job>
        </div>
        <div *ngSwitchCase="'doned'">
            <app-job *ngFor="let job of done; index as i" [job]="job" (jobDone)="update($event)"></app-job>
        </div>
        <div *ngSwitchCase="'toDo'">
            <app-job *ngFor="let job of toDo; index as i" [job]="job" (jobDone)="update($event)"></app-job>
        </div>
    </div>
</div>

<span> {{leftItems}}  </span>
<button (click)="changeToShow('all')" >all</button>
<button (click)="changeToShow('doned')" >doned</button>
<button (click)="changeToShow('toDo')" >toDo</button>
<button (click)="clear()"> Clear all completed</button>

